<!doctype html>
<html>
  <head>
    <title>TFG Game</title>
    <style>
		* { margin: auto; padding: 0; }
		body { font: 13px Helvetica, Arial; }
    </style>
  </head>

  <body>
  	<!-- Libraries -->
  	<script src="/socket.io/socket.io.js"></script>
  	<script src="//cdn.jsdelivr.net/phaser/2.6.0/phaser.min.js"></script>
    <script src="sscd.1.5.min.js"></script>

  	<!-- Game code -->
    <script src="rendering.js"></script>
    <script src="player.js"></script>
    <script src="gameNet.js"></script>
    <script src="map.js"></script>
    <script src="gameCore.js"></script>
  	<script src="client.js"></script>
  </body>
</html>
    